html {
	margin: 100px;
	padding: 100px;
	}

body {
    background: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: 20px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
  

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

a {
    color: green;
}

p {
    padding: 0px ;
}

ul {
    padding: 30px;
}

#special {

    color: rgb(255, 255, 255)
}
